@font-face {
    font-family: 'SolmoeKimDaeGeon';
    src: url('../../assets/fonts/SolmoeKimDaeGeon-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.board-list-item {
    width: 300px;
    height: 555px;
    /*border: 1px, solid, #F2EBE2; 나중에 없앨것임*/
    margin-top: 200px;
    margin-left:25px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.recipe-image {
    height: 400px;
    max-width:300px;
    background-size: contain;
    background-position: center;
}

.recipe-image img {
    max-width: 100%; /* 이미지가 영역을 초과하지 않도록 */
    max-height: 100%; /* 이미지가 영역의 높이를 초과하지 않도록 */
    object-fit: contain; /* 이미지 비율을 유지하면서 영역에 맞춤 */
}

.favorite-count {
    font-family:'SolmoeKimDaeGeon';
    font-size:20px;
    color:#7C7163;
    margin-top:7px;
}

.star-ratings {
    margin-left:54px;
    margin-top: -23px;
    width: 140px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .star-ratings img {
    width:90%; /*별 크기 조정*/

  }
   
.price {
    font-family:'SolmoeKimDaeGeon';
    font-size:15px;
    font-weight: 50;
    color: #7C7163;
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
    margin-right: 8px;
    
}

.line {
    color:#7C7163;
    opacity: 0.7;
    margin-top: 10px;
}

.title {
    font-family:'SolmoeKimDaeGeon';
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    color: #7C7163;
    margin-top:10px;
}

.content {
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
}

