@font-face {
    font-family: 'SolmoeKimDaeGeon';
    src: url('../../assets/fonts/SolmoeKimDaeGeon-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#auth-wrapper {
    height: 100vh;
    position: relative; /* 부모 요소에 position 설정 */
    overflow: hidden;
}

.left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/backgroundImage.jpg');
    background-repeat: no-repeat;
    
} 




