@font-face {
    font-family: 'SolmoeKimDaeGeon';
    src: url('../../assets/fonts/SolmoeKimDaeGeon-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#auth-wrapper {
    display: flex;
    height: 100vh;
    background-color: #F7F6F3;
}

.left {
    width: 45%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* 투명도 조절 */
    z-index: 1;
}

.title, .description {
    position: relative;
    z-index: 2; /* 텍스트가 흐림 효과 위에 오도록 설정 */
    color: #3E2E22;
}

.title {
    font-family: 'SolmoeKimDaeGeon';
    font-size: 48px;
    text-align: center;
    margin-top: 10%;
}

.description {
    font-family: 'SolmoeKimDaeGeon';
    font-size: 18px;
    text-align: center;
    margin: 0 80px;
    line-height: 1.5;
    position: absolute;
    bottom: 70px;
    
}

.right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.auth-card {
    width: 55%;
    background-color: #FFFFFF;
}

.auth-card-top {
    padding-top: 80px;

}

.auth-card-title-box {
    margin-left:30px;
    margin-bottom: 50px;
}

.auth-card-title {
    font-family: 'SolmoeKimDaeGeon';
    font-size: 40px;
    color: #3E2E22;
}

.large-full-button {
    margin-top: 30px;
    margin-left:60px;
    margin-right: 590px;
    padding: 12px 12px;
    text-align: center;
    font-family: 'SolmoeKimDaeGeon';
    font-size: 18px;
    color: #3E2E22;
    background-color: #F2EBE2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.large-full-button:hover {
    background-color:#3E2E22;
    color:#F2EBE2;
}

.auth-description-box {
    margin-top: 16px;
    margin-left: 60px;
    font-family: 'SolmoeKimDaeGeon';
    font-size: 14px;
    color: #555555;
}

.auth-description-link {
    color: #F2EBE2;
    cursor: pointer;
    margin-left: 5px;
}

.auth-description-link:hover {
    text-decoration: underline;
    color:#3E2E22;
}

.auth-sign-in-error-box {
    font-size: 10px;
    color:red;
    margin-left:60px;
}

