@font-face {
    font-family: 'SolmoeKimDaeGeon';
    src: url('../../assets/fonts/SolmoeKimDaeGeon-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#auth-wrapper {
    height: 100%;
    
} 

.left {
    width: 50%;
    height: 100vh;
    position: relative; /* 부모 요소에 position 설정 */
    overflow: hidden;
}

.left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* 투명도 조절 */
    z-index: 1; /* 흐림 효과의 z-index를 낮게 설정 */
}

.title, .description {
    position: relative; /* 텍스트 요소에도 position 설정 */
    z-index: 2; /* 텍스트가 흐림 효과 위에 오도록 설정 */
    color: #3E2E22;
}

.title {
    font-family: 'SolmoeKimDaeGeon';
    font-size: 40px;
    display: flex;
    justify-content: center;
    z-index: 2; /* 텍스트가 흐림 효과 위에 오도록 설정 */
    position: relative; /* 텍스트 요소에도 position 설정 */
}

.description {
    font-family: 'SolmoeKimDaeGeon';
    font-size: 20px;
    display: flex;
    justify-content: center;
    
    height: 100;
    z-index: 2; /* 텍스트가 흐림 효과 위에 오도록 설정 */
    position: absolute;
    bottom: 110px; /* 하단에서 20px 위로 */
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}



