@font-face {
  font-family: 'SolmoeKimDaeGeon';
  src: url('./assets/fonts/SolmoeKimDaeGeon-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  width: 1409px;
<<<<<<< HEAD
  height: 100%;
=======
>>>>>>> 00b0ac6795d71e1e493509c4ef34e626d1c4e602
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
=======
  height: 100%;
>>>>>>> 00b0ac6795d71e1e493509c4ef34e626d1c4e602
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}