#header {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    width: 100%; /* 페이지 너비에 맞춤 */
}

.header-container {
    width: 100%;
    max-width: 1409px; /* 최대 너비 제한 */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header-middle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

.title {
    font-family: 'Solmoe KimDaeGeon';
    font-style: bold;
    font-weight: 900;
    font-size: 50px;
    line-height: 74px;
    background: linear-gradient(90.97deg, rgba(62, 46, 34, 1) 1.71%, rgba(0, 0, 0, 1) 63.77%), #3E2E22;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 10px;
    text-align: center;
    left: 50%;
    transform: translateX(15%); 

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    font-size: 16px;
    background-color: #F2EBE2;
    padding: 7px 13px;
    width: 220px;
    height: 35px;
    position: absolute;
    right: 6%;
    top: 70px;
    margin-top: 24px;
}

.recipe-board, .free-board {
    cursor: pointer;
}

.recipe-board:hover, .free-board:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.short {
    width: 1px;
    height: 20px;
    background-color: #000000;
}

.header-line {
    width: 100%;
    max-width: 1000px;
    border: 1px solid #3E2E22;
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-57%); /* 요소의 너비의 절반만큼 왼쪽으로 이동 */
}
