@font-face {
    font-family: 'SolmoeKimDaeGeon';
    src: url('../../assets/fonts/SolmoeKimDaeGeon-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.outer-background {
    background-color: #D8CFC4; 
    padding: 0 150px; 
    display: flex;
    justify-content: center;
}

.container {
    
    padding: 20px;
    background-color: #ffffff;
    /*margin-left: 10px;*/
    
}

.header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    font-family: 'SolmoeKimDaeGeon', sans-serif;
    font-size: 36px;
    margin: 0;
}

.header .nav {
    margin-top: 10px;

    background-color:  #D8CFC4;
}

.header .nav a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.login {
    float: right;
    font-size: 14px;
}

.recipe-board {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.recipe-item {
    width: 30%;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.rating, .author, .title, .description {
    margin: 10px 0;
}

.stars {
    color: #ffd700;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination {
    text-align: center;
}
/*ddd*/