@font-face {
    font-family: 'SolmoeKimDaeGeon';
    src: url('../../assets/fonts/SolmoeKimDaeGeon-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-3-list-item {
    
    padding: 82px;
    width: calc(1047px - 82px - 82px);
    height: 395px;

    cursor: pointer;

}

.top-3-list-item:hover {
    opacity: 0.7;
}

.top-3-list-item-box {

    display: flex;
    flex-direction: column;

}

.top-3-list-item-box-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.top-3-list-item-image {
    width: 295px;
    height: 295px;
}

.top-3-list-item-name {
    font-family: 'SolmoeKimDaeGeon';
    font-size: 25px;
    font-weight: 500;
    color: #3E2E22;
    margin: 0; /* 여백 제거 */

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.top-3-list-item-box-bottom {
    display: flex;
    flex-direction: column;
}


.dotted-line {
    border-top: 2px dotted #3E2E22; /* 점선 스타일 */
    width: 100%; /* 부모 컨테이너의 너비를 가득 채우도록 설정 */
    margin-top: 16px;
    margin-bottom: 0px;
}

.top-3-list-item-content {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    color: #000;
    margin-top: 16px;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


