@font-face {
    font-family: 'SolmoeKimDaeGeon';
    src: url('../../assets/fonts/SolmoeKimDaeGeon-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 오늘의 메뉴 */
.menu-title {
    font-family: 'SolmoeKimDaeGeon', sans-serif;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    color: #7C7163;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
} 



.menu-title::before,
.menu-title::after {
    content: "";
    height: 2px;
    background-color: #7C7163; /* 선 색상 */
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.menu-title::before {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.menu-title::after {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.menu-title::before::before,
.menu-title::after::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #7C7163;
    border-radius: 50%;
    display: inline-block;
}

.top-3-list-item {
    margin: 20px auto;
    width: 80%;
}

.top-3-list-item h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.top-3-list-item-main-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.top-3-list-item-menu-item {
    width: 30%;
    /* border: 1px solid #ddd;
    border-radius: 5px; */
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s;
}

.top-3-list-item-menu-item:hover {
    transform: scale(1.05);
    border-color: #0073e6;
}

.top-3-list-item-menu-item img {
    width: 294.35px;
    height: 294.35px;
}

.top-3-list-item-menu-item h3 {
    font-family: 'SolmoeKimDaeGeon';
    color:#3E2E22;
    margin: 10px 0;
    font-size: 25px;
    font-weight: lighter;
}

.top-3-list-item-menu-item p {
    margin: 0;
    color: #000;
    font-size: 17px;
}

.dotted-line {
    border: none;
    border-bottom: 2px dotted #3E2E22;
    margin: 10px 0;
}








/* menu-container & menu-section: Top3 list menu의 구조와 레이아웃 
 menu-item: 밑줄선 
 menu- h2: 메뉴 제목 */


/* top-3-list-item = menu section
   top-3-list-item-main-box = menu-container
   top-3-list-item-menu-item = menu item */
 /* Vector 9 */


